body {
    font-family: sans-serif;
    background-color: #dedede;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  iframe {
    max-width: 100%;
    height: auto;
    border: none;

  }
  
  .app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
    color: black;
  }
  
  .videoPlayer {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .videoPlayer h2 {
    margin: 0 0 6px 0;
  }
  
  .videoLink {
    float: left;
    width: 40%;
    margin-right: 15px;
  }
  
  .video-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
    
    
  }
  
  .category {
    font-size: 0.9rem;
    color: grey;
    vertical-align: middle;
  }
  
 
  
  .footer {
    font-size: 0.7rem;
    color: grey;
    text-align: center;
    margin: 0;
  }
  a{
      text-decoration: none;
      color:black;
  }
  